<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
            border: 1px solid green;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather board</title>
</head>
<body>
    <h2>Дошка атмосферних вимірювань</h2>

    <table style="width: 100%;">
        <tr>
            <th>id</th>
            <th>Текст</th>
            <th>Дата</th>
            <th>Температура</th>
            <th>Тиск, мм.р.ст.</th>
            <th>Тиск</th>
        </tr>
        {% for post in post_list %}
        <tr>
            <th>{{ post.id }}</th>
            <th>{{ post.text }}</th>
            <th>{{ post.data }}</th>
            <th>{{ post.temperature }}</th>
            <th>{{ post.pressure }}</th>
            <th>{{ post.humidity }}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
